@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Enriqueta);

html, body {
	background-color: #EEF3F3;
	color: #fff;
	margin: 0;
	line-height: 1.5em;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

header {
	margin: 0;
	background-color: #444944;
	width: 100%;
	padding: 20px 0;	
}

nav {
	text-transform: uppercase;
	text-align: right;
}

section {
	width: 100%;
	padding: 10px 0;
}

section ul {
	margin: 0;
	float: left;
}

section li {
	color: #000;
	margin-right: 15px;
}

ul {
	list-style: none;
	margin-top: 25px;
	padding: 0;
}

li {
	display: inline;
	margin-left: 25px;
	height: 40px;
}

li img {
	padding-left: 3px;
	vertical-align: middle;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #B3FF0D;
	text-decoration: none;
}

a:active {
	color: #B3FF0D;
	text-decoration: none;	
}

nav a {
	color: #eee;
	text-decoration: none;
}

nav a:hover {
	color: #eee;
	text-decoration: none;
	border-bottom: 4px solid #B3FF0D;
}

nav a:active {
	color: #eee;
	text-decoration: none;
	border-bottom: 4px solid #B3FF0D;
}

.shirts {
	background-color: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.filter {
	text-align: center;
	background-color: #393D39;
}

.grey {
	display: inline;
	color: #e6e6e6;
	float: left;
	margin-right: 10px;
}

.hideMe {
	text-align: center;
	font-family: 'Enriqueta', Georgia, serif;
	text-transform: none;
	font-size: 17px;
	color: #eee;
	padding: 20px 0;
}

.imgOffset {
	margin-left: -25px;
	margin-right: 10px;
}

.containerOuter {
	width: 240px;
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

.containerOuter:hover {
	background-color: #ddd;
}

.containerInner {
	background-color: #fff;
	width: 220px;
	text-align: center;
	padding: 10px;
	min-height: 250px;
}

.containerOuter p {
	margin: 0;
	color: #999;
	font-size: 12px;
	margin: 0 0 3px 10px;
}

.shirtTitle {
	color: #222;
	font-size: 12px;
	float: left;
	text-align: left;
	width: 170px;
}

.shirtPrice {
	color: #B3FF0D;
	text-align: center;
	background-color: #444944;
	padding: 2px;
	width: 30px;
	float: right;
}

.stars {
	font-size: 11px;
	vertical-align: middle;
	color: #B3FF0D;
}

.activeLink {
		color: #B3FF0D;
		text-decoration: none;
}