@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Enriqueta);

html, body {
	background-color: #EEF3F3;
	color: #fff;
	margin: 0;
	line-height: 1.5em;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

header {
	margin: 0;
	background-color: #444944;
	width: 100%;
	padding-top: 20px;	
}

nav {
	text-transform: uppercase;
	text-align: right;
}

section {
	background-color: #393D39;
	width: 100%;
	padding: 10px 0;
}

section ul {
	margin: 0;
	float: left;
}

section li {
	color: #000;
}

ul {
	list-style: none;
	margin-top: 25px;
	padding: 0;
}

li {
	display: inline;
	margin-left: 25px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.filter {
	text-align: center;
}

.grey {
	display: inline;
	color: #e6e6e6;
	float: left;
}

.hideMe {
	text-align: center;
	font-family: 'Enriqueta', Georgia, serif;
	text-transform: none;
	font-size: 18px;
	color: #eee;
}

.imgOffset {
	margin-left: -22px;
	margin-right: 10px;
}
